body{
    margin-top: 30px;
    background-color: #2e1b1b;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.head-unit{
    background-color: #6943FF;
    padding: 5px 30px 30px 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

h2{
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px
}

input{
    border: 2px solid #B295FF;
    padding: 10px 27px;
    width: 70px;
    background-color:transparent;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 60px;
}

.count-value{
    color: #FFFFFF;
    font-size: 90px;
    font-weight: bold;
}

.convert-btn{
    background-color: #FFFFFF;
    color:#3D3D3D ;
    padding: 12px 33px;
    border-radius: 4px;
    border: none;
    margin-top: 25px;
    font-size: large;
    font-weight: bold;
}

.body-unit{
    /* border: 1px solid purple; */
    background-color: #F4F4F4;
    width: 500px;
    padding: 5px 30px 30px 30px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.measurement{
    /* border: 1px solid orange; */
    background-color: #ffffff;
    margin-top: 20px;
    width: 500px;
    padding: 8px 0px;
    color: #5A537B;
}

.p{
    color: #353535;
    font-weight: bold;
    font-size: smaller;
    margin-top: 0px;
    margin-bottom: 50px;
}

