body{
    /* margin-top: 0; */
    background-color: #1C1C1C;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
     font-family: "Inter", sans-serif;
}

.head-unit{
    background-color: #6943FF;
    padding: 5px 30px 30px 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

h2{
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px
}

.count{
    
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding: 5px 20px ;
    margin-top: 0px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
}


.count-value{
    color: #FFFFFF;
    font-size: 90px;
    font-weight: bold;
}

.convert-btn{
    background-color: #FFFFFF;
    color:#3D3D3D ;
    padding: 12px 30px;
    border-radius: 4px;
    border: none;
    margin-top: 25px;
    /* font-weight: bold; */
    font-size: large;
}

.body-unit{
    /* border: 1px solid purple; */
    background-color: #F4F4F4;
    width: 400px;
    padding: 5px 30px 30px 30px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.measurement{
    /* border: 1px solid orange; */
    background-color: #ffffff;
    margin-top: 20px;
    width: 420px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A537B;
    
}

.p{
    color: #353535;
}